.bg {
    background-color: red;
    border: 1px solid yellow;
}

body {
    background: url(../images/background.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

header {
    background-color: rgb(0, 123, 255);
    height: 40px;
    padding: 3px 3px 0 3px;
}

h1 {
    font-size: 14px;
    color: white;
}

img {
    height: 35px;
}

footer a span {
    display: none;
}

footer a {
    display: inline-block;
    width: 300px;
    height: 400px;
    background-image: url('../images/wizard.png');
    background-size: contain;
}
